# for Makefile.bak (bak)
.depend

# executable
pa-sink-ctl
# objects
*.o

# autotool stuff
# The actual Makefiles produced
Makefile
Makefile.in

# The local aclocal.m4 file
aclocal.m4

# The output of the configure script
config.guess
config.log
config.status
config.sub

# The configure script itself
configure

# The include directory artifacts
config.h*
stamp-h1

# Various scripts used for libtool and the like
install-sh
libtool
ltmain.sh
missing
depcomp

# Not sure what this one is for
autom4te.cache/*

# Dependency tree
src/.deps/*
